@model CSharpTravelKeeper.Models.Traveler

@{
    ViewData["Title"] = "Details";
}




<div>
    <img class="editImage" src="~/images/friendsdetails.jpg" alt="beach">
</div>
<br />
<br />
<div class="container">
    <div class="col-5">
        <div class="card travelerDetails">
            <div class="card-body">
                <div class="row">
                    <h3>
                        @Html.DisplayFor(model => model.FellowTraveler)
                        Details
                    </h3>
                    <div class="row">
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.TravelerWebsite)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TravelerWebsite)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Trip)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Trip.TripTitle)
                            </dd>
                        </dl>
                    </div>

                    <div>
                        <a class="text-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                        <a class="text-dark" asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
                        <a class="text-dark" asp-action="Details" asp-controller="Trips" asp-route-id="@Model.TripId">Back to Trip Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
