@model IEnumerable<CSharpTravelKeeper.Models.Trip>

@{
    ViewData["Title"] = "Trips";
}


<h1 class="text-dark">My Trips</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Add Trip</a>
    <a class="btn btn-outline-dark" asp-action="Create" asp-controller="Cities">Add City</a>
    <a class="btn btn-outline-dark" asp-action="Create" asp-controller="Travelers">Add Traveler</a>
</p>


    <div>
        <img class="tripListPhoto" src="~/images//triplist3.jpg" alt="movies" style="max-height: 300px; min-height: 200px; max-width:1500px; min-width:1200px;">  &nbsp;
    </div>



    <br />
    <br />
    <div class="container">
        <div class="row justify-content-between">

            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class="card indexCard">
                        <div class="card-body">
                            <h4 class="card-title">

                                @Html.DisplayFor(modelItem => item.TripTitle)

                            </h4>
                            <p class="card-text">
                                @Html.DisplayNameFor(modelItem => item.StartDate) :
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </p>
                            <p class="card-text">
                                @Html.DisplayNameFor(modelItem => item.EndDate) :
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </p>
                            @*<p>Travelers: </p>
                            <p>
                                @foreach (var traveler in item.Travelers)
                                {
                                    <div>
                                        <a class="btn btn-outline-dark"  asp-action="Details" asp-controller="Travelers" asp-route-id="@traveler.Id">@Html.DisplayFor(modelItem => traveler.FellowTraveler)</a> <br />
                                    </div>
                                }
                            </p>
                           <p>Cities: </p>
                                <p>
                                    @foreach (var city in item.Cities)
                                    {
                                        @if (city.IsActive == true)
                                        {
                                            <div>
                                                <a class="btn btn-outline-dark" asp-action="Details" asp-controller="Cities" asp-route-id="@city.Id">@Html.DisplayFor(modelItem => city.CityName)</a> <br />
                                            </div>
                                        }
                                    }
                                </p>*@

                                <p>
                                    <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </p>

                            </div>
                    </div>
                </div>
            }
        </div>
    </div>
